<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<%= link_to "New Pointcloud", new_pointcloud_path, class: "btn btn-primary" %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Display Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @pointclouds.each do |pc| %>
         
         <tr>
            <td><%= pc.name %></td>
            <td><%= link_to "Display Pointcloud", pc.attachment_url %></td>
            <td><%= button_to "Delete",  pc, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{pc.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>