<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<h1>Library</h1>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Display Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @pointcloud.each do |pc| %>
         <tr>
            <td><%= pc.name %></td>
            <td><%= link_to "Display Pointcloud", pc.attachment_url %></td>
            <td><%= link_to "Delete",
               pointcloud_path,
               method: :delete,
               class: "btn btn-danger",
               confirm: "Are you sure that you wish to delete #{pc.name}?" %>
            </td>
         </tr>
         
      <% end %>
   </tbody>
</table>

<div class="span7 text-center">
<%= link_to "Upload File", new_pointcloud_path, class: "btn btn-primary" %>
</div>