<div id="url" style="display: none;"><%= @pointcloud.attachment_url %></div><div id="info"><a href="http://threejs.org" target="_blank">three.js</a> - 3D Modeling Javascript Library</div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "three.js" %>
<%= javascript_include_tag "TypedArrayUtils.js" %>
<%= javascript_include_tag "FirstPersonControls.js" %>
<%= javascript_include_tag "XShader.js" %>
<%= javascript_include_tag "FragmentShader.js" %>
<%= javascript_include_tag "PointRenderer.js" %>